body{
font-family: Arial;
margin:0;
background:#f4f6f9;
}

/* LOGIN */

.login-body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-container{
background:white;
padding:40px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
text-align:center;
}

input{
width:100%;
padding:10px;
margin:10px 0;
}

button{
background:#2563eb;
color:white;
border:none;
padding:10px 20px;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:#1e40af;
}

/* SIDEBAR */

.sidebar{
width:220px;
height:100vh;
background:#1e3a8a;
color:white;
position:fixed;
padding:20px;
}

.sidebar a{
display:block;
color:white;
padding:10px;
text-decoration:none;
margin-top:5px;
}

.sidebar a:hover{
background:#2563eb;
border-radius:5px;
}

/* MAIN CONTENT */

.main{
margin-left:240px;
padding:30px;
}

/* CARDS */

.cards{
display:flex;
gap:20px;
margin-bottom:30px;
}

.card{
background:white;
padding:20px;
border-radius:8px;
box-shadow:0 0 5px rgba(0,0,0,0.1);
width:200px;
}

/* TABLE */

table{
width:100%;
background:white;
border-collapse:collapse;
}

table, th, td{
border:1px solid #ddd;
}

th, td{
padding:10px;
text-align:left;
}

th{
background:#2563eb;
color:white;
}

.add-btn{
margin-bottom:15px;
}